ul {
    width: 650px;
}

ul li {
    margin: 3px 0 10px;
    display: block;
}

dt {
    float: left;
    width: 65px;
}


dd {
    float: left;
    line-height: 23px;
    margin: 0 0 3px;
    width: 495px;
}

dd span {
    margin: 10px 5px;
    background-color:#EEFFEE;
    cursor: pointer;
    padding: 3px 3px 2px;
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #AAFFAA;
    color: #006600;
}

#photo_tags {
    height: 50px;
}

#tag {
    width: 500px;
}

.selected {
    background-color: silver;
}