.main {
    width: 650px;
    float: left;
}

.photo {
   float: left;
   margin-bottom: 50px;
   width: 70%;
}

.right {
    float: left;
    font-size: 24px;
    margin: 100px 0 0 50px;
}

.visit_master {
    margin-bottom: 10px;
}

.tags {
    font-size: 14px;
    width: 200px;
    padding-top: 15px;
}

.tag {
    float: left;
    margin: 3px;
}

.comments {
    float: left;
    width: 100%;
}

.comment {
    width: 550px;
    height: 100px;
    border-bottom: 1px dashed silver;
    float: left;
    margin: 5px;
}

.comment .avatar {
    float: left;
    height: 100%;
}

.comment .avatar img{
    width: 50px;
    height: 50px;
}

.comment .content {
    float: left;
    margin-left: 15px;
    width : 470px;
}

.comment .content .username {
    padding: 3px 0 3px 3px;
}

.comment .content .time {
    padding-left: 10px;
}

.comment .talk {
    float: left;
    width: 100%;
    margin: 10px;
}

.new_comment {
    margin-top: 20px;
    float: left;
}

.inputarea {
    width: 472px;
    height: 72px;
    margin-bottom: 10px;
}

textarea {
    font-family: Tahoma,宋体;
    border-style: solid;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    overflow-x: hidden;
    resize: none;
    outline: medium none;
    margin: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.submit_comment {
}

.tool {
    margin-top: 50px;
    width: 200px;
    float: left;
}

.title {
    width: 100%;
    float: left;
    color: green;
    font-size: 18px;
}