.select_city {
    float: left;
    z-index: 1000;
}

.select_city .selected_city {
    font-size: 18px;
    float: left;
}

ul.cities {
    padding: 15px;
    margin: 15px;
    z-index: 1000;
    clear: both;
}

.select_city ul.cities li {
    float: left;
    margin: 5px;
    font-size: 13px;
}

