html {
    color: #111111;
}

body {
    font: 12px Tahoma, Geneva, sans-serif;
}

ul {
    list-style-type: none;
}

ul {
    list-style: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}

.header {
    width: 950px;
    height: 100px;
    margin: 0 auto;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.footer {
    width: 950px;
    height: 50px;
    margin: 0 auto;
}




.header .nav {
    width: 300px;
    height: 50px;
    float: left;
    margin-left: 200px;
}

.header .nav ul {
    float: left;
}

.header .nav ul li {
    float: left;
    margin: 5px;
}

.header .person {
    height: 50px;
    width: 200px;
    float: left;
}

.header .person li {
    float : left;
    margin: 5px;
}