html {
    color: #111111;
}

body {
    font: 12px Tahoma, Geneva, sans-serif;
}

ul {
    list-style-type: none;
}

ul {
    list-style: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #AC58FA;
}

body {
    background-color: #DCDCDC;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}

.header {
    text-align: left;
}


.header_inner {
    width: 950px;
    height: 100px;
    margin: 0 auto;
}


.footer {
    width: 950px;
    height: 50px;
    margin: 0 auto;
    padding: 20px;
    color: #AAAAAA;
    clear: both;
}

.footer span {
    margin: 15px;
} 

.main {
	margin: 0 0 30px 0;
	padding: 0 0 20px 0;
}

.main_content {
    margin: 0;
    padding: 0;
    outline: medium none;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}


.header h1 {
    margin-top: 50px;
    width: 300px;
    float: left;
}

.header .nav {
    width: 160px;
    height: 30px;
    float: left;
    margin-left: 90px;
    margin-top: 50px;
    font-size: 16px;
    background-color: white;
}

.header .nav ul {
    float: left;
}

.header .nav ul li {
    float: left;
    margin: 5px;
}

.header .person {
    margin-top: 50px;
    margin-left: 15px;
    height: 50px;
    width: 200px;
    float: left;
}

.header .person li {
    float: left;
    margin: 5px;
}

#canvas {
    background-color: #FFFFFF;
    float: left;
    width: 530px;
    padding: 20px 0 0 20px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
    color: #777777;
}

#canvas .nav_second {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

#canvas .nav_second h2 {
    width: 200px;
    float: left;
}

#canvas .nav_second .items {
    float: right;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

#canvas div {
    background-color: #FFFFFF;
}

#canvas ul {
    background-color: #FFFFFF;
}

#canvas ul li {
    float: left;
    margin: 0 20px 20px 0;
}

#canvas img {
    width: 245px;
    height: 200px;
}

#canvas .pages {
    width: 300px;
    float: left;
    margin: 10px 10px 30px 10px;
    padding-left: 155px;
}

#canvas .pages .previous_page, #canvas .pages .next_page {
    border: 1px solid #DDDDDD;
    font-size: 28px;
    padding: 0.2em 0.5em;
    width: 30px;
    height: 35px;
    display: block;
    float: left;
    margin-left: 20px;
}

#canvas .pages em {
    padding: 0.2em 0.5em;
}

#canvas .pages a:hover {
    background-color:#AC58FA;
    color: #FFFFFF;
}

.main {
    width: 550px;
    float: left;
    background-color: #ffffff;
}

.right {
    width: 250px;
    float: left;
    padding: 0 10px;
}

.right .search_box {
    margin: 0 0 20px 0
}

.right .search_box input {
}

.pop_tags {
    margin:0 10px;
}

.pop_tags li {
    float: left;
    margin: 5px;
}