.main {
    width: 650px;
    float: left;
    border-right: 1px dashed silver;
}

.hot_users {
    float: left;
}

.hot_users ul {
    float: left;
    margin: 10px;
}

.hot_users ul li {
    float: left;
    margin: 5px;
}

.hot_users ul li img {
    width: 85px;
    height: 90px;
}

.user_name {
    padding-left: 30px;
}



.top_photos {
    float: left;
}

.top_photos ul {
    float: left;
    margin: 10px;
}

.top_photos ul li {
    float: left;
    margin: 5px;
}

.top_photos ul li img {
    width: 120px;
    height: 150px;
}

.right {
    width: 250px;
    float: left;
    padding: 50px 10px;
}

.pop_tags {
    margin:0 10px;
}

.pop_tags li {
    float: left;
    margin: 5px;
}

