

.hot_users {
    float: left;
}

.hot_users ul {
    float: left;
    margin: 10px;
}

.hot_users ul li {
    float: left;
    margin: 5px;
}

.hot_users ul li img {
    width: 85px;
    height: 90px;
}

.user_name {
    padding-left: 30px;
}


