.message_container {
    width: 650px;
}

.messages {
    width: 100%;

}

.messages li {
    height: 100px;
    margin: 10px;
}

.messages div {
    float: left;
}

.messages li .avatar {
    width: 100px;
    height: 100%;
}

.messages li .avatar img {
    width: 100%;
    height: 100%;
}

.messages li .content {
    padding: 0 10px;
    width: 400px;
}

.messages .username {
    width: 100%;
}

.messages .talk {
    margin: 20px 0 0;
    width: 100%;
}

.new_message_container {
    width: 500px;
    height: 300px;
    margin: 10px;
}

.new_message_container span {
    font-size: 18px;
}

.new_message_container #new_message {
    margin: 10px;
}

.new_message_container .message_content {
     width: 500px;
    height: 95px;
    margin-bottom: 20px;
}

.new_message_container .message_content textarea {
    font-family: Tahoma, 宋 体;
    border-style: solid;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    overflow-x: hidden;
    resize: none;
    outline: medium none;
    margin: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.time {
    margin-left: 50px;
}
