  <div class="right">
    <ul>
      <li>
        <%= link_to "> 关注", masters_users_path %>
      </li>
      <li>
        <%= link_to "> 粉丝", followers_users_path %>
      </li>
      <li>
        <%= link_to "> 收藏", favorited_user_photos_path(@user) %>
      </li>
    </ul>

  </div>