<%= content_for :head do %>
    <%= javascript_include_tag 'cities/show' %>
<% end %>
<div class="wrapper">
  <div class="main">
    <div id="canvas">
      <%= render :partial => 'share/users_nav', :locals => {:title => '人气Coser'} %>
      <%= render :partial => 'users/list', :locals => {:users => @users} %>
    </div>
  </div>

</div>