<div class="wrapper">
  <div class="personal">
    <% if @user.community %>
    <%= link_to '我的社团', me_community_path %>
        <% else %>
    <%= link_to '我的社团', choice_communities_path %>
        <% end %>
  </div>

  <div class="me">
    <%= link_to 'Me cosplay', me_album_path(@user.album) %>
  </div>
</div>