ul.user_list {
    width: 650px;
    float: left;
    margin: 10px;
}

ul.user_list li{
    float: left;
    width: 100%;
    height: 120px;
    margin: 5px;
}

ul.user_list li .info div {
    float: left;
    margin: 5px;
    width: 100%;
}

ul.user_list li .avatar {
    float: left;
    width: 100px;
    height: 100%;
}

ul.user_list li .avatar img {
    height: 100%;
    width: 100%;
}

ul.user_list li .info {
    float: left;
    width: 500px;
    height: 100%;
    margin: 10px
}

ul.user_list li .name {
    float: left;
    width: 100%;
}

ul.user_list li .sex {
    float: left;
    width: 100%;
}

ul.user_list li .tags {
    float: left;
    width: 100%;
}
