.user {
    float: left;
    width: 100%;
    margin: 10px;
}

.user .avatar {
    width: 150px;
    height: 180px;
}

.user img {
    width: 100%;
    height: 100%;
}

.user div{
    margin: 10px;
    width: 300px;
    float: left;
    font-size: 18px;
}

.user .simple_info {
    margin-top: 10px;
}

.person_nav {
    float: left;
    width: 100%;
}

.me {
    margin: 10px;
    float: left;
    width: 550px;
}

.me img{
    width: 120px;
    height: 150px;
}

.me ul {
    margin: 10px;
}
.me li {
    float: left;
    margin: 5px;
}


.me_tags {
    margin: 10px;
    width: 100%;
    float: left;
}

.me_tags ul {
    margin: 10px;
}

.me_tags li {
    margin: 3px;
    float: left;
}

.tool {
    float: left;
    font-size: 18px;
    margin-left: 20px;
}

.main {
    float: left;
    width: 650px;
    border-left: 1px dashed silver;
    border-right: 1px dashed silver;
}

.right {
    float: left;
}

.right ul {
    margin: 50px 10px;
    float: left;
}

.right ul li {
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 10px;
}

.messages_container {
    width: 100%;
    float: left;
    margin: 10px;
}

.messages_container .title {
    font-size: 18px;
    color: green;;
}