.user {
    float: left;
    width: 100%;
    margin: 10px;
}

.user .avatar {
    width: 150px;
    height: 120px;
    padding-top: 20px;
}

.user img {
    width: 150px;
    height: 150px;
}

.user div {
    margin: 10px;
    width: 300px;
    float: left;
    font-size: 18px;
}

.user .simple_info {
    margin-top: 10px;
}

.person_nav {
    float: left;
    width: 100%;
}

.me {
    margin: 30px 10px;
    float: left;
    width: 100%;
}

.me img {
    width: 150px;
    height: 120px;
}

.me ul {
    margin: 10px;
}

.me li {
    float: left;
    margin: 5px;
}

.me_tags {
    margin: 10px;
    width: 100%;
    float: left;
}

.me_tags ul {
    margin: 10px;
}

.me_tags li {
    margin: 3px;
    float: left;
}

.tool {
    float: left;
    font-size: 18px;
    margin-left: 20px;
    border: 1px solid #B9B9B9;
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    cursor: pointer;
    padding: 6px 6px;
    font-weight: bold;
    background-color: silver;
}

.tool a {
    color: #999999;
}

.right {
    float: left;
}

.right ul {
    margin: 50px 10px;
    float: left;
}

.right ul li {
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 10px;
}

.messages_container {
    width: 100%;
    float: left;
    margin: 10px;
}

.messages_container .title {
    font-size: 18px;
    color: green;;
}