ul.social_list {
    width: 650px;

}

ul.social_list li {
    height: 150px;

}

ul.social_list li div {
    margin: 5px;
    float: left;
}

ul.social_list li .avatar {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

ul.social_list li .avatar img {
    width: 100%;
    height: 100%;
}

ul.social_list li .name {
    font-size: 18px;
    width: 400px;
    margin-top: 15px;
}

ul.social_list li .info {
    width: 400px;
}

ul.social_list .city {
    width: 400px;
}

ul.social_list .tags span{
    padding: 3px;
}

