<div class="right">
     <div class="search_box">
        <%= form_tag search_tag_photos_path, :method => "get" do %>
            <%= text_field_tag 'tag_name' %>
            <%= submit_tag 'Ｇｏ' %>
        <% end %>
      </div>
      <ul class="pop_tags">
        <% tags.each do |tag| %>
            <li>
              <%= link_to tag.name, search_tag_photos_path(:tag_name => tag.name) %>
            </li>
        <% end %>
      </ul>
  </div>