<%= content_for :head do %>
    <%= stylesheet_link_tag 'index' %>
<% end %>
<div class="wrapper">

  <div class="main">
   <%= render :partial => 'share/canvas', :locals => {:photos => @top_photos, :title => '人气Cos美图'} %>
  </div>

  <%= render :partial => 'welcome/right' %>
</div>