<%= content_for :head do %>
    <title>cosplay最新美图</title>
    <%= stylesheet_link_tag 'index' %>
<% end %>
<div class="wrapper">

  <div class="main">
   <%= render :partial => 'share/canvas', :locals => {:photos => @photos, :title => '最新Cos美图'} %>
  </div>

  <%= render :partial => 'welcome/right', :locals => {:tags => @pop_tags} %>
</div>