<%= content_for :head do %>
     <%= stylesheet_link_tag 'photo/top' %>
<% end %>

<div class="wrapper">
    <div style="width:200px;height:200px;background-color:silver;margin-bottom: -100px;"></div>
  <ul>

  </ul>
</div>