<div class="wrapper">
  <div class="comunity">
    <%= @community.name %>
    <%=	 link_to '加入', new_member_path %>
  </div>

  <ul class="members">
    <li class="member">
      <%= link_to 'coco' %>
    </li>

    <% @community.users.each do |u| %>
       <%= link_to u.name, u %>
    <% end %>
  </ul>
</div>